[package]
name = "zoo-kcl"
version = "0.1.16"
edition = "2021"
repository = "https://github.com/kittycad/kcl.py"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "kcl"
crate-type = ["cdylib"]

[dependencies]
anyhow = "1.0.86"
kcl-lib = {version = "0.1.67", features = ["pyo3"]}
kittycad = "0.3.6"
pyo3 = { version = "0.22.0", features = ["serde", "experimental-async"] }
reqwest = "0.11.0"
serde = "1.0.203"
serde_json = "1.0.118"
tokio = "1.38.0"
uuid = { version = "1.9.1", features = ["v4"] }
