[package]
name = "zoo-kcl"
version = "0.1.32"
edition = "2021"
repository = "https://github.com/kittycad/kcl.py"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "kcl"
crate-type = ["cdylib"]

[dependencies]
anyhow = "1.0.86"
kcl-lib = { version = "0.2.13", features = ["pyo3", "disable-println"] }
kittycad = "0.3.18"
pyo3 = { version = "0.22.2", features = ["serde", "experimental-async"] }
reqwest = "0.11.0"
serde = "1.0.209"
serde_json = "1.0.127"
tokio = "1.40.0"
uuid = { version = "1.10.0", features = ["v4"] }
