[package]
name = "zoo-kcl"
version = "0.1.19"
edition = "2021"
repository = "https://github.com/kittycad/kcl.py"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "kcl"
crate-type = ["cdylib"]

[dependencies]
anyhow = "1.0.86"
kcl-lib = {version = "0.2", features = ["pyo3"]}
kittycad = "0.3.8"
pyo3 = { version = "0.22.2", features = ["serde", "experimental-async"] }
reqwest = "0.11.0"
serde = "1.0.204"
serde_json = "1.0.120"
tokio = "1.39.1"
uuid = { version = "1.10.0", features = ["v4"] }
