[package]
name = "zoo-kcl"
version = "0.1.40"
edition = "2021"
repository = "https://github.com/kittycad/kcl.py"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "kcl"
crate-type = ["cdylib"]

[dependencies]
anyhow = "1.0.89"
kcl-lib = { version = "0.2.21", features = ["pyo3", "disable-println"] }
kittycad = "0.3.23"
kittycad-modeling-cmds = "0.2.69"
pyo3 = { version = "0.22.2", features = ["serde", "experimental-async"] }
reqwest = "0.12"
serde = "1.0.210"
serde_json = "1.0.128"
tokio = "1.40.0"
uuid = { version = "1.10.0", features = ["v4"] }
